body{
  background-color: #0f121f;
  background-image: url(stars.jpg);
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}
body *{
  font-family: tahoma;
}
h1,h2,h3,h4{
  font-width: normal;
  margin: 0;
}
a, a:hover, a:visited{
  color:#ffffff;
  text-decoration:none;
}
